
.login{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(13, 110, 253,0.1), rgba(13, 110, 253,0.9));
}

